<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h3 {
      margin: 0;
      padding-bottom: 5px;
    }
    section {
      margin: 20px;
    }
  </style>
  <title>Document</title>
</head>
<body style="text-align: center;">
  <h1>Basic Blog API Docs</h1>

  <div style="background-color: lightblue; padding: 10px;">
    <section>
      <h3>Get all categories</h3>
      <code>/api/categories</code>
    </section>

    <section>
      <h3>Get category by slug</h3>
      <code>/api/categories/{slug}</code>
    </section>

    <section>
      <h3>Get all articles</h3>
      <code>/api/articles</code>
    </section>

    <section>
      <h3>Get article by slug</h3>
      <code>/api/articles/{slug}</code>
    </section>
  </div>
</body>
</html>